@import 'src/styles/variables.scss';

:host {
  position: relative;
  display: block;
  border-color: var(--inside-border-color);
}
.button {
  display: block;
  cursor: pointer;
  padding: 1rem;
  border-radius: $radius-s;
  background-color: var(--inside-accent-color-005);
  text-align: center;
  line-height: 1.6;
  transition: background-color .15s;

  user-select: none;

  &:hover, &:active {
    color: #fff;
    background-color: var(--inside-accent-color);
    background-image: none;
  }
}
.loading {
  text-align: center;
}
