:host {
  position: relative;
  display: block;
  border-color: inherit;
}
section {
  position: relative;
  min-height: 100px;
  text-transform: capitalize;
  font-family: monospace;
  font-size: 12px;
  line-height: 1.4;
  border-color: inherit;

  user-select: none;
  &.is-loading::before {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: currentColor;
    content: '';
    animation: scaleout 1.0s infinite ease-in-out;
  }
  &.is-loading::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255,  .3);
    content: '';
  }
}
a {
  color: inherit;
}
i {
  position: relative;
  display: inline-block;
  margin: -1px -1px 0 0;
  padding: .2em .5em;
  border: 1px solid var(--inside-border-color);
  cursor: pointer;
  font-style: normal;
  font-size: smaller;
  &.is-selected {
    z-index: 1;
    background-color: var(--inside-highlight-00);
    border-color: var(--inside-highlight-00);
    color: var(--inside-highlight-05);
    box-shadow: 0 0 0 2px var(--inside-highlight-00), 0 0 0 3px var(--inside-highlight-01);
  }
}
textarea {
  display: block;
  margin: 0;
  padding: 1em;
  width: 100%;
  height: 12em;
  font-family: monospace;
  font-size: smaller;
  line-height: 1.4;
  resize: none;
  box-sizing: border-box;
  background: none;
  border-color: var(--inside-border-color);
  color: inherit;
  &:focus {
    outline: none;
  }
}
.has-error {
  color: #F56C6C;
}
@keyframes scaleout {
  0% {
    transform: scale(0);
  }

  100% {
    opacity: 0;;
    transform: scale(1);
  }
}
