html {
  --inside-accent-color: #f00;
    --inside-foreground-color: #363636;
    --inside-border-color: #e0e0e0;
    --inside-background: #ffffff url(https://www.toptal.com/designers/subtlepatterns/patterns/brickwall.png);
    --inside-sidebar-background: #607d8b linear-gradient(to bottom,#607d8b 0%,#26323b 100%);
    --inside-card-background: #fff;
    --inside-font-base: 'Crimson Text','PingFang SC','Microsoft YaHei';
    --inside-font-logo: Lobster,cursive,'Josefin Sans','PingFang SC','Microsoft YaHei';
    --inside-font-menu: IM Fell DW Pica SC,'Josefin Sans','PingFang SC','Microsoft YaHei';
    --inside-font-heading: impact,'Josefin Sans','PingFang SC','Microsoft YaHei';
    --inside-font-label: Sarpanch,'Josefin Sans','PingFang SC','Microsoft YaHei';
    --inside-font-code: 'Fira Code',Consolas,monospace;
    --inside-font-print: 'PingFang SC','Microsoft YaHei';
    --inside-content-width: 660px;
    --inside-highlight-00: #ffffff;
    --inside-highlight-01: #e0e0e0;
    --inside-highlight-02: #f3f6f7;
    --inside-highlight-03: #95a5b3;
    --inside-highlight-04: #363636;
    --inside-highlight-05: #262b2f;
    --inside-highlight-06: #000000;
    --inside-highlight-07: #000000;
    --inside-highlight-08: #5d6c7b;
    --inside-highlight-09: #40464a;
    --inside-highlight-0a: #2980b9;
    --inside-highlight-0b: #be516e;
    --inside-highlight-0c: #237dac;
    --inside-highlight-0d: #944770;
    --inside-highlight-0e: #239371;
    --inside-highlight-0f: #edf0f3;
    --inside-card-color: #fff;
    --inside-accent-color-005: rgba(255,0,0,.05);
    --inside-accent-color-01: rgba(255,0,0,.1);
    --inside-accent-color-02: rgba(255,0,0,.2);
    --inside-accent-color-04: rgba(255,0,0,.4);
    --inside-accent-color-08: rgba(255,0,0,.8);
}
body {
  margin: 0;
  color: var(--inside-foreground-color);
  background: var(--inside-background);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
}
main {
  margin: 2rem auto;
  max-width: 660px;
  min-width: 320px;
  border-radius: 6px;
  padding: 0 2.15rem;
  position: relative;
}
