$size: 32px;

.root {
  display: block;
  margin: 1em auto;
  width: fit-content;
  cursor: pointer;
  user-select: none;
  &[data-color-mode=dark] {
    .track::after {
      box-shadow: inset 0 0 0 3px var(--inside-accent-color-04);
      background-color: var(--inside-accent-color-04);
    }
    .thumb {
      background-color: var(--inside-accent-color);
      transform: translateX(18px);
    }
  }
}

.track {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 24px;
  border: 3px solid transparent;
  box-sizing: content-box;
  z-index: 1;
  &::after {
    position: absolute;
    z-index: -1;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 24px;
    box-shadow: inset 0 0 0 3px #d1d5da;
  }
}
.thumb {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #2f363d;
  transition: transform 0.3s cubic-bezier(0.4, 0.03, 0, 1);
  &::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 8px;
    width: 12px;
    height: 12px;
    background-color: #ffdf5d;
    border-radius: 50%;
  }
  &::after {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    width: 10px;
    height: 10px;
    background-color: inherit;
    border-radius: 50%;
  }
}
